body {
    margin: 0;
    font-family: "Oswald", sans-serif;
}

.navbar {
    padding-top: 0%;
}

.container-fluid {
    background-color: #131f28;
}

.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    color: rgb(242, 220, 161);
}

.nav-link:active {
    color: #db8f15;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link.active {
    color: #db8f15; /* Color de texto cuando el enlace está activo */
}

.navbar-toggler {
    border: 1px solid transparent; /* Borde inicial transparente */
    outline: none; /* Quita el borde de enfoque predeterminado */
    box-shadow: none; /* Quita la sombra al enfocar */
}

.navbar-toggler:focus {
    border-color: orange; /* Color naranja para el borde en estado activo */
}

.nav-link {
    text-align: center;
    letter-spacing: 2px;
    margin-right: 30px;
}

.imageColumn {
    width: 100%;
    height: 100%;
    background-image: url(./../images/plano3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 20px 0px 20px;
    min-height: 300px; /* Asegura que la imagen tenga una altura mínima */
}

.col {
    width: 100vh;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.imageCol {
    width: 100%;
    height: 500px;
    background-image: url(./../images/casa-3d-andamios.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.inicio2Col {
    margin-top: 10%;
}

.inicio2Col h4 {
    font-size: 2.2rem;
}

.bannerHome {
    width: 100%;
    height: 600px;
    background-image: url(./../images/paisaje-urbano-minimo-monocromatico.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    text-align: center;
}

.bannerHome h1 {

}

.logo {
    width: 110px;
    height: 110px;
}

.scrollEfect {
    height: 50vh;
    background-image: url(./../images/fondo\ banda\ amarilla.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-custom {
    height: 100%; /* Altura completa del contenedor padre */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366; /* Color de fondo de WhatsApp */
    z-index: 1000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}

.whatsapp-button img {
    width: 60%; /* Tamaño del icono de WhatsApp */
    height: auto;
}

/* NOSOTROS */

.mainNosotros {
    width: 100%;
    background-color: #131f28;
}

.containerNosotros {
    margin: 0px;
    width: 100%;
    height: auto; /* Usar altura automática para adaptarse al contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}

.colNosotrosBG {
    width: 100%;
    height: 400px; /* Altura fija para el fondo */
    background-image: url(./../images/fondoNosotros3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.rowNosotros {
    width: 100%;
    height: auto; /* Usar altura automática para adaptarse al contenido */
    display: flex;
    justify-content: center;
}

.colNosotros {
    padding: 50px;
    text-align: center;
    color: antiquewhite;
}

.colNosotros h4 {
    font-size: 2.5rem;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #db8f15;
}

.colNosotros p {
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: justify;
}

.separadorNosotros {
    width: 100%;
    height: 50px;
    background-color: #db8f15;
}

/* FORM */
.input-group {
    width: 100%; /* Ajuste del ancho del contenedor del ícono */
    margin-bottom: 15px; /* Espacio inferior para separar los elementos */
  }

  .input-group-text {
    width: 38px; /* Ancho deseado para el ícono */
    height: 38px; /* Altura deseada para el ícono */
  }

.formContact {
    width: 100%;
    padding: 50px; /* Espaciado interior */
    text-align: center;
}

.h4Form {
    color: #db8f15;
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 50px;
    letter-spacing: 3px;
    font-weight: 700;
}

.form-control {
    font-size: 1rem;
    letter-spacing: 2.5px;
    font-weight: 700;
}

.form-label {
    color: antiquewhite;
    letter-spacing: 2.5px;
    font-size: 1.2rem;
}

.btn-dark {
    margin-top: 3%;
    background-color: #db8f15;
    color: #131f28;
    font-weight: 700;
    font-size: 1.2rem;
}

/* CONTACTO */

.mainContacto {
    width: 100%;
    height: 100vh;
    background-image: url(./../images/form2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bannerHome h1 {
    color: #131f28;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.bannerHome h2 {
    font-size: 2.7rem;
    color: #131f28;
    font-weight: 400;
}

.bannerHome h4 {
    font-size: 1.5rem;
    color: #131f28;
    font-weight: 300;
}

.inicio2Col p {
    text-align: justify;
    font-size: 1.2rem;
}

.logoSombra {
    width: 200px;
    height: 200px;
    transition-duration: 1s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8), 0 4px 8px rgba(0, 0, 0, 0.36);
}

.logoSombra:hover {
    transform: scale(1.2);
}

.h4Main {
    margin-bottom: 50px;
}

.footer {
    width: 100%;
    background-color: #131f28;
    padding-top: 20px;
    padding-bottom: 20px; /* Añadir un poco de padding en la parte inferior */
}

.footerH5 {
    font-weight: 600;
    color: beige;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.footerP {
    font-weight: 300;
    color: antiquewhite;
    font-size: 1rem;
    letter-spacing: 2px;
}

.webFooter {
    color: #d18675;
    letter-spacing: 3px;
}

.text-center a {
    text-decoration: none;
}

.footerSection {
    width: 100%;
    height: auto; /* Ajuste automático de la altura */
    padding-top: 60px;
    padding-right: 50px;
}

.iconoFooter {
    width: 50px;
    height: 50px;
    margin-right: 40px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.rowMain {
    min-height: 60vh;
    padding-bottom: 60px; /* Espacio adicional para asegurar que el contenido no sea cubierto */
}

.h4Main2 {
    font-size: 1.7rem;
    color: #131f28;
    font-weight: 600;
    padding: 10px 80px 10px 0px;
}

.mainP {
    text-align: justify;
    font-size: 1rem;
    font-weight: 300;
    padding: 0px 20px 20px 0px;
    letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
    .mainP {
        font-size: 1.1rem;
        font-weight: 300;
    }
}

@media screen and (max-width: 992px) {
    .logo {
        width: 80px;
        height: 80px;
    }

    .inicio2Col h4 {
        font-size: 2rem;
    }

    .bannerHome h2 {
        font-size: 2.2rem;
    }

    .bannerHome h4 {
        font-size: 1.3rem;
    }

    .h4Main {
        font-size: 2rem;
    }

    .footerH5 {
        font-size: 1.3rem;
    }

    .footerP {
        font-size: 0.9rem;
    }

    .iconoFooter {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav .nav-link {
        padding: 1rem;
    }

    .navbar-toggler {
        border-color: orange;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .bannerHome h2 {
        font-size: 1.8rem;
    }

    .bannerHome h4 {
        font-size: 1.1rem;
    }

    .inicio2Col h4 {
        font-size: 1.8rem;
    }

    .inicio2Col p {
        font-size: 0.9rem;
    }

    .imageCol {
        height: 300px;
    }

    .colNosotrosBG {
        height: 300px;
    }

    .colNosotros h4 {
        font-size: 2rem;
    }

    .colNosotros p {
        font-size: 0.9rem;
    }

    .h4Form {
        font-size: 1.6rem;
    }

    .form-control {
        font-size: 0.9rem;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .btn-dark {
        font-size: 0.9rem;
    }

    .mainContacto h1 {
        font-size: 3.5rem;
    }

    .bannerHome h2 {
        font-size: 1.6rem;
    }

    .bannerHome h4 {
        font-size: 1rem;
    }

    .footerH5 {
        font-size: 1.1rem;
    }

    .footerP {
        font-size: 0.8rem;
    }
    .mainP {
        width: 100%; /* Ocupar todo el ancho disponible */
        text-align: justify; /* Ajustar el texto justificado si es necesario */
        padding: 0px 15px; /* Agregar espaciado lateral opcional */
    }
    .colNosotros {
        padding-left: 15px; /* Ajuste de espaciado izquierdo */
        padding-right: 15px; /* Ajuste de espaciado derecho */
      }
}

@media screen and (max-width: 576px) {
    .imageColumn {
        margin: 0px 0px 0px 0px;
    }

    .h4Main2 {
        font-size: 1.3rem;
        text-align: center;
        padding: 0px 10px 0px 10px;
    }

    .colNosotros {
        padding-top: 5px;
        padding-bottom: 5px;
        height: auto;
    }

    .colNosotros p {
        font-size: 0.8rem;
        padding-right: 2%;
        padding-left: 2%;
    }
    .mainP {
        font-size: 0.7rem;
        padding: 0px 10px 0px 10px;
        width: 100%; /* Hace que el párrafo ocupe todo el ancho disponible */
        text-align: justify; /* Ajusta el texto justificado */
    }

    .bannerHome {
        height: 500px;
        background-size: cover;
        background-position: bottom;
    }

    .imageCol {
        height: 300px;
    }

    .footer {
        padding-right: 20px;
    }
    .input-group {
        width: 100%; /* Ancho reducido para dispositivos móviles */
      }
  
      .input-group-text {
        width: 36px; /* Reducción del ancho del ícono en dispositivos móviles */
        height: 36px; /* Reducción de la altura del ícono en dispositivos móviles */
      }
}
